body,html{
    padding:0;
    margin:0;
    background-color: #172d40;
    color: #c29954;
}
.fa-book-open{
    background-color: #c29954;
    color:white;
    padding: 10px;
    border-radius: 30% ;
}
h1{
    display: block;
    text-align: center;
    
}
h1>span{
    color: white;
}

.container{
    width:80%;
    margin:auto;
}

.add__book{
    /* display: block;
    margin: auto; */
    text-align: center;
    padding: 20px;
}


form{
    display: none;
    width:30%;
    text-align: center;
    padding: 30px;
    border:5px solid #c29954;
    margin: auto;
    border-radius: 10%;

}

form > input{
    margin-top: 20px;
    height: 50px;
    border-radius: 5px;
    border:2px solid #172d40;
    font-size: 20px;
    color:#172d40
}



form>label{
    display: none;
}
.form--display{
    display: block;
    position: fixed;
    background-color: white;
    top:30px;left:0;bottom:70px;right:0;
    z-index: 1;
    
}
.fa-times{
    transition: all 0.5s;
}
.fa-times:hover{
    transform: rotate(90deg);
    transition: all 0.5s;
    color:#ac3939
}
.add__book--btn{
    font-size: 50px;
    padding:0 20px;
    font-weight: bolder;
    background-color: #172d40;
    color:white;
    height: 70px;
    text-align: center;
    transition: all 0.2s;
    
}
.add__book--btn:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.2s;
    background-color:#4e8d4e;
}

hr{
    background-color: #c29954;
    border:none;
    height:2px;
}
.add__book__form{
    position: fixed;
    bottom: 50px;
    right:50px;
    padding:20px;
    font-size: 30px;
    margin: auto;
    color:#c29954;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    transition: all 0.5s;
    
}

.add__book__form:hover{
    transform:scale(1.2) rotate(90deg);
    transition: all 0.5s;
    color:#4e8d4e
}




.result{
    margin-top:50px;
    display:grid;
    
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    text-transform: capitalize;
   
}
.result_flex{
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    border:2px solid #c29954;
    padding:10px;
    border-radius: 10px;

}

.result_flex .name{
    font-size:50px;
    text-align: center;
    font-weight: bold;
}


.options .read--yes{
    background-color:#4e8d4e;

}
.options .read--no{
    background-color:#ac3939;
}

.options{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    width: 80%;
    margin:auto;
    height: 60px;
    grid-gap: 10px;
    
}
.options>button{
    font-size: 20px;
}
.result_flex .options .read{
    
    color:white
}
.fa-minus-circle{
    
    color:#ac3939;
    border-radius: 50%;
    font-size: 30px;
}

.result_flex .author__page{
    text-align: center;

    
}
button{
    border-radius: 5px;
    border:1px solid #1d3849;
    z-index: 0;
}
button:hover{
    cursor: pointer;
    transform:scale(1.1);
    border-radius: 5px;
}

footer{
    font-size: 15px;
    text-align: center;
    display: block;
    background-color: white;
    position: fixed;
    width:100%;
    line-height: 0;
    bottom:0;
}
@media screen and (max-width:1200px) {
    .result{
        grid-template-columns: repeat(2,1fr);
        
    }
    .result_flex .options{
        grid-template-columns: repeat(2,1fr);
        height: 80px;
        
    }
    .result_flex .options .read{
        grid-column:span 1;
    }
    .options>*{
        font-size: 20px;
    }
}

@media screen and (max-width:600px) {
    form{
        width: 60%;
    }
    .result{
        grid-template-columns: repeat(1,1fr);
    }
    .result_flex .options{
        grid-template-columns: repeat(2,1fr);
        height: 50px;
        
    }
    
}


